:root {
    /* Colors */
    --main-backgroud-color: rgb(0, 0, 0);
    --main-color: #09c6e8;
    --main-color2: rgb(15, 15, 15);
    --main-text-color: white;
    --box-color1: blue;
    --box-color2: red;
    --box-color-secondary2: rgb(255, 112, 112);
    --box-color-secondary1: rgb(113, 112, 255);
    --font-color-b1: black;
    
    /* Font sizes */
    --main-size0-5: 0.5rem;
    --main-size0-87: 0.875rem;
    --main-size1: 1rem;
    --main-size1-25: 1.25rem;
    --main-size1-5: 1.5rem;
    --main-size1-75: 1.75rem;
    --main-size2: 2rem;
    
    /* Font weights*/
    --main-weight400: 400;
    --main-weight500: 500;
   
    --main-weight600: 600;
    --main-weight700: 700;
    
    /* Borders */
    --main-rad2: 2px;
    --main-rad3: 3px;
    --main-rad5: 5px;
    --main-rad10: 10px;

    /* Shadows */
    
    --modal-shadow1: 2px 2px 2px rgb(132, 0, 0);
    --modal-shadow2: 4px 4px 4px  rgb(132, 0, 0);
}

html {
    width: 100%;
    height: 100%;
}


body {
    justify-items: center;
    align-content: center;
    background: var(--main-backgroud-color);
    margin: 0;
}


header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--main-color2);
    width: 100%;
    height: 5rem;
    position: sticky;
    align-content: center;
    justify-items: center;
    text-shadow: 0 1px 10px var(--box-color1) ;
    color: var(--main-text-color);
    box-shadow: 0px 1px 10px 1px var(--box-color1);

}


/* Main container */

#mainContainer {
   
    display: grid;
    grid-template-rows: 1fr 4fr repeat(2, 1fr);
    gap: 10px;
}


/* Start button */

.startBtn::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0;
    border-radius: var(--main-rad10);
    box-shadow: 0px 0px 30px 10px var(--box-color1);
    
}
.startBtn {
    position: relative;
    height: 50px;
    width: 150px;
    grid-row-start: 4;
    grid-row-end: 5;
    border: none;
    cursor: pointer;
    font-size: var(--main-size1-5);
    border-radius: var(--main-rad10);
    background: linear-gradient(to right, var(--box-color-secondary1), var(--box-color1));
    color: var(--main-text-color);
    font-weight: var(--main-weight600);
   
}   

.startBtn::after {
    
    height: 100%;
    width: 0;
    position:absolute;
    left: 0;
    top: 0;
    box-shadow: 0px 0px 30px 10px var(--box-color2);
    border-radius: var(--main-rad10);
   
}

.startBtn:hover::after {
   content: '';
    width: 100%;
   
    
}

.startBtn:hover::before {
    content: none;
}

.startBtn:hover {
    background: linear-gradient(to right, var(--box-color-secondary2), var(--box-color2));
    font-size: var(--main-size1-75);
    width: 151px;
}


/* Modal */



dialog {
    padding: 10px;
    background: linear-gradient(to right, var(--box-color-secondary2), var(--box-color2));
    border: none;
    box-shadow: 0px 0px 30px 10px var(--box-color2);
    border-radius: var(--main-rad10);
    color: var(--main-text-color);
    animation: slide-in 0.7s ease-in;
}

dialog:open {
    display: grid; 
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    animation: slide-in 0.7s forwards;
    
}

dialog:open::backdrop {
    background-color: black;
    animation: backdrop-fade-in 0.7s ease-out forwards;
}



@keyframes slide-in {
    0% {
        transform: translateY(400px);
        animation-timing-function: ease-out;
    }
    60% {
        transform: translateY(-30px);
        animation-timing-function: ease-in;

    }

    80% {
        transform: translateY(10px);
        animation-timing-function: ease-out;
    }

    100% {
        transform: translateY(0px);
        animation-timing-function: ease-in;
    }
}

@keyframes backdrop-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}


/* Input */

input {
   
    outline: none;
    border: none;
    width: 11em;
    height: 1.6em;
    border-radius: var(--main-rad3);
    box-shadow: var(--modal-shadow1);
    font-weight: 700;
    font-size: var(--main-size0-87);
    color: var(--font-color-b1);
}

input:focus {
    transform: scale(1.02);
    box-shadow: var(--modal-shadow2);
}

#playerTwo {
    justify-self: start;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-left: 5px;
}

#playerOne {
    justify-self: end;
    margin-right: 5px;
}


/* Modal confirm button */

.confirm {
    cursor: pointer;
    width: 10em;
    height: 1.4em;
    justify-self: center;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    margin-top: 5px;
    border-radius: var(--main-rad5);
    border: none;
    box-shadow: var(--modal-shadow1);
    font-size: var(--main-size1-25);
}



.confirm:hover {
    transform: scale(1.02);
    box-shadow: var(--modal-shadow2);
    
}





