:root {
    /* Colors */
    --main-backgroud-color: rgb(0, 0, 0);
    --main-color: #09c6e8;
    --main-color2: rgb(15, 15, 15);
    --box-color1: blue;
    --box-color2: red;
    --box-color-secondary2: rgb(255, 112, 112);
    --box-color-secondary1: rgb(113, 112, 255);
    --cell-color1: gray;
    
    /* Text colors */
    --main-text-color: white;
    --main-text-color2: black;
    
    /* Font sizes */
    --main-size1: 1.5rem;
    --main-size2: 1.75rem;
    --main-size3: 3rem;
    
    /* Font familys */
    
    --cell-fontW: 600;
    /* Borders */
    --main-rad50: 5px;

   
    
}

html {
    width: 100%;
    height: 100%;
}


body {
    justify-items: center;
    align-content: center;
    background: var(--main-backgroud-color);
    margin: 0;
}


header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--main-color2);
    width: 100%;
    height: 5rem;
    position: sticky;
    align-content: center;
    justify-items: center;
    text-shadow: 0 1px 10px var(--box-color2) ;
    color: var(--main-text-color);
    box-shadow: 0px 1px 10px 1px var(--box-color2);
   
}




/* Main container */

#mainContainer {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 1fr 4fr repeat(2, 1fr);
    gap: 10px;
}



/* Dialog */

dialog {
    
    background: linear-gradient(to right, var(--box-color-secondary2), var(--box-color2));
    border: none;
    box-shadow: 0px 0px 30px 10px var(--box-color2);
    border-radius: var(--main-rad50);
    color: var(--main-text-color);
    animation: fade-out 0.1s ease-in;
}

dialog:open {
    animation: fade-in 0.7s forwards;
    
}

dialog:open::backdrop {
    background-color: black;
    animation: backdrop-fade-in 0.7s ease-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }

    100% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scaleY(1);
        display: block;
    }

    100% {
        opacity: 0;
        transform: scaleY(0);
        display: none;
    }
    
}

@keyframes backdrop-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.25;
    }
}



/* Main body */
.mainBody {
    display: grid;
    grid-template-columns: repeat(3, 70px);
    grid-template-rows: repeat(3, 70px);
    align-items: center;
    justify-items: center;
  
}   


/* Game cells */
.cell {
    height: 70px;
    width: 70px;
    align-content: center;
    justify-items: center;
    cursor: pointer;
    font-size: var(--main-size3);
    color: var(--main-text-color2);
    text-shadow: 0 1px 10px var(--box-color2) ;;
    background: var(--cell-color1);
    font-weight: var(--cell-fontW);
  
}



/* Boards */
.turn, .winnerBoard {
    color: var(--main-text-color);
    align-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 1.5rem;
   
}

